entrypoint = "main.py"
modules = ["nodejs-18", "python-3.11"]

[nix]
channel = "stable-23.05"
packages = ["libxcrypt"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "cd /home/runner/botarmy-poc && python main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[env]
PYTHONPATH = "/home/runner/botarmy-poc"
NODE_ENV = "production"
